.idea
_book
node_modules
/StoryWriter/nbproject/private/
/StoryWriter/dist/
/StoryWriter/build/
/ColorfulCircles/nbproject/private/
/ColorfulCircles/build/
/ColorfulCircles/dist/
/JavaFXApplication9/nbproject/private/
/JavaFXApplication9/build/
/JavaFXApplication9/dist/
/hasher/nbproject/private/
/hasher/build/
/stringsofthings/nbproject/private/
/stringsofthings/build/
/JavaFXApplication10/nbproject/private/
/JavaFXApplication10/build/
/JavaFXApplication10/dist/
/JavaApplication3/nbproject/private/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/SessionByYear/nbproject/private/
/yearchart/nbproject/private/