.idea
_book
node_modules
/StoryWriter/nbproject/private/
/StoryWriter/dist/
/StoryWriter/build/
/ColorfulCircles/nbproject/private/
/ColorfulCircles/build/
/ColorfulCircles/dist/
/JavaFXApplication9/nbproject/private/
/JavaFXApplication9/build/
/JavaFXApplication9/dist/